.tab-box { 
  	border-bottom: 1px solid #DDD;
  	padding-bottom:5px;
}
.tab-box a {
	border:1px solid #DDD;
	color:#666666;
	padding: 5px 15px;
	text-decoration:none;
	background-color: #eee;
}
.tab-box a.activeLink { 
	background-color: #fff; 
	border-bottom: 0; 
	padding: 6px 15px;
}
.tabcontent { border: 1px solid #ddd; border-top: 0;}
.hide { display: none;}	